 <style>
.t-view{
            height: 80px;
            width: 950px;
            color:darkslategrey;
             font-size: 14px;
    background-color: white;
            
        } 
caption{
    background-color: #D6EAF8;
}

</style>